#stud {
	color: rgb(20,108,255);
	/*color: #FD6678;*/
}
#hy {
	color: black;
}

h1 {
	font-size: 400%;
	font-family: "Century Gothic", Verdana, sans-serif;
}

h2 {
	font-size: 200%;
}

h3 {
	font-size: 120%;
}

body {
	background-color:  #FFFFFF; /* white */
	font-family: Arial, Verdana, sans-serif;
}

a:link, a:visited {
	text-decoration: none;
	color: rgb(50,127,255);
	transition: color ease .2s;
	-webkit-transition: color ease .2s;
	-o-transition: color ease .2s;
	-moz-transition: color ease .2s;
	-ms-transition: color ease .2s;
}

a:hover, a:active {
	color: rgb(20,108,255);
	text-decoration: underline;
}

input[type=text] {
	border: black solid 1px;
	font-size: 110%;
	padding: 5px;
	height: 100%;
	width: 100%;
}

input[type=submit] {
	font-family: Helvetica, Arial, sans-serif;
	padding: 5px 30px;
	border: none;
	border-radius: 100px;
	color: #FFFFFF;
	background-color: rgb(50,127,255);

	-webkit-appearance: none;

	transition: all ease .2s;
	-webkit-transition: all ease .2s;
	-moz-transition: all ease .2s;
	-o-transition: all ease .2s;
	-ms-transition: all ease .2s;
}

input[type="submit"]:hover {
	background-color: rgb(20,108,255);
}